footer{
    background-image: url(../../assets/fondo-azul-tangerine.jpg);
    background-size: cover;
}
.iconTangerineFooter{
    transform: scale(2.5);
    position: absolute;
    right: 14rem;
    top: -2rem;
}