.iconTangerine{
    transform: scale(2.5);
    right: 22rem;
    position: unset;
}
#home-section{
    height: 45rem;
}
.tangerino{
    position: absolute;
    transform: scale(.6);
    left: -18rem;
    right: 89rem;
    top: 9rem;
}
#white-shine{
    transform: scale(2.5);
}
.middle-note{
    transform: rotate(4deg);
}
.content-text-first-note{
    position: relative;
    left: 9rem;
    bottom: 16rem;
}
.content-text-second-note{
    position: relative;
    left: 9rem;
    bottom: 16rem;
    transform: rotate(4deg);
}
.content-text-third-note{
    position: relative;
    right: -9rem;
    bottom: 16rem;
}